{% extends "layout.html" %}
{% block title %} main {% endblock %}
{% block contents %}
<div class="container">
  <div class="row text-center">
		<div class="col-md-6 col-md-offset-3"><h1>a19641sk의 개인 사이트입니다.</h1>
			<h6>또는 <a href="kaede9mori.html">@kaede9moriP</a>라는 닉네임도 사용합니다.</h6>
			<h4>본 사이트에서 제공되는 서비스는 <strong>임의로</strong> 중단 될 수 있습니다.</h4>
		</div>
  </div>
  <hr>
	<div class="row">
		<h2>이 사이트의 주인은 누구인가요?</h2>
		<p>&nbsp;저는 전산전공의 학부 4학년생입니다. 지금은 휴학중입니다.</p>
		<h2>이 사이트는 어떤 목적으로 운영되나요?</h2>
		<p>&nbsp;제가 개인적으로 진행하는 - 주로 흥미위주로 연습삼아서 만듭니다 - 프로젝트를 올려놓기 위한 목적으로 운영하고 있습니다.</p>
		<h2>어떤 기준으로 프로젝트를 진행하나요?</h2>
		<p>&nbsp;사소해 보일지라도 분명 가치있는 일들을 찾고 있습니다. 일단 제 자신이나 주변에서 필요로 하는 사소하지만 가치있는 일들을 하나씩 하고 있습니다..
		<h2>어떤 주제에 대해 관심이 있으신가요?</h2>
		<p>&nbsp;정작 제대로 손을 못대고 다른 일들을 하고 있지만, 기계학습에 관심이 있습니다. <a href="http://waifu2x.udp.jp">Waifu2x</a> 나, <a href="http://illustration2vec.net">Illustration2vec</a> 같은 영상처리 도메인에의 적용에도 흥미가 있습니다. 
		<br>&nbsp;학교에서 한 관련된 공부로는 유전알고리즘과 간단한 영상처리 방법론에 대해 공부한 적이 있습니다. 또한 각각 OpenStack등의 IaaS등의 IoT적 활용방안을 찾는다던가 (KOREN의 넷첼린지 캠프), 트위터 상의 정보를 간단하게 자연어 처리를 통해 가공하여 적절한 recommendation system 구축을 목표로 하는 하계 인턴을 한 적이 있습니다.
		<br>&nbsp;최근에는 학생 신분으로 NDC16에 참석해보았는데, anomaly detection같은 문제가 흥미로워 보였습니다. 키워드 분석은 예전에 공부한 부분과 너무 많이 겹쳐서 조금 실망스러웠네요. 그쪽에 대해서는 긍정적으로 당장 현업으로 뛰어들 수 있는거 아닌가? 라고 생각하기로 했습니다.(笑)</p>
		<h2>연락을 할 필요가 있는데 어떻게 연락하면 되나요?</h2>
		<p>&nbsp;제게 연락할 필요가 있으시다면 <a href="https://twitter.com/a19641sk">Twitter</a>로 연락하시면 됩니다. 또는 <a href="https://github.com/a19641sk/" >Github</a> 계정이나 a19641sk (at) gmail.com 으로 연락주시면 됩니다 </p>
		<br> 
	</div>
{% endblock %}