{% extends "layout.html" %}
{% block title %} 세 명이서 약속잡기 {% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">세 명이서 약속잡기</h1>
    </div>
  </div>
  <hr>
	<!---
	<a href="http://346.moe/prom.html" target="_blank">
	<img src= {{ url_for('static', filename = 'img/three.png') }} alt="" width="441" height="396" class="img-responsive img-rounded center-block" border="0"/>
	</a>
	--->
	<img src= {{ url_for('static', filename = 'img/threeX.png') }} alt="" width="441" height="396" class="img-responsive img-rounded center-block" border="0"/>
	<br><p class="text-center">본 서비스는 지도 api문제로 중단중입니다.</p>
</div>
{% endblock %}
